@charset "UTF-8";
*{
	margin: 0px;padding: 0px;
}
#diary_list_back{
	margin:auto; width: 634px; height: 568; text-align: center; margin-top: 10px;
}
#title_back{
	display: inline-block; background-color: #d2d2d2;
}
#write{
	display: inline-block; margin-left: 580px; margin-top: 20px;
}
.chk{
	display: inline-block; width: 25px; height:25px; 
}
.num{
	display: inline-block; width: 50px; height:25px;
}
#title{
	display: inline-block; width: 280px; height:25px; text-align: center;
} 
.title{	
	display: inline-block; width: 280px; height:25px; text-align: left; 	
} 
.name{
	display: inline-block; width: 100px; height:25px;
}
.regdate{
	display: inline-block; width: 100px; height:25px;
}
.love{
	display: inline-block; width: 50px; height:25px;
}
a{
	text-decoration: none; color: black;
}
.num{
	height: 13px;
}