@charset "UTF-8";
#diary_title{
	position: relative; top: 10px; left: 20px; width: 154px; height: 30px;
	color: blue; font-size: 15px;
}
#calender{
	position: relative; top: 10px; left: 20px; width: 150px; height: 40px;
	font-size: 14px; text-decoration: none; color: blue; 
}
#diary_folder_title{
	position: relative; top: 10px; left: 20px; width: 155px; height: 40px;
	font-size: 14px; font-weight: bold;
}
#diary_folder{
	position: relative; top: 5px;left: 20px;  width: 155px; 
	font-size: 13px;  line-height: 25px;
}
#diary_folder_set{
	font-size: 14px; margin-left: 25px; margin-top: 20px;
}                       