@charset "UTF-8";
body {
	margin: 0;
	padding: 0;
}
#webView {
	overflow: hidden;
	position: relative;
	width: 1024px;
	height: 592px;
	margin: 0 auto;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}
#webView[data-show-memo='true'] {
	overflow: visible
}
#scroll{
	position: relative; top: 80px; left: 886px; width: 22px; height: 550px;
}
#iu_com{/* 일촌평댓글 */
	left:23px;
}
#iu_text{
	color: rgb(94, 94, 94);
}
#iu_content{
	position: relative; top: 30px;left: 20px;  width: 497px; font-size: 12px;
}

#news_back{
	position: relative; top: 5px; left: 20px; width: 170px; height: 50px;
}
#news{
	font-weight: bold; font-size: 18px
}
#news_back hr{
	margin-top: 5px; width: 446px;
}
ul{
	list-style: none; margin-top: -5px; margin-left: -20px; 
}

#board_back{
	position: relative; top: 10px; left: 20px; width: 300px; height: 88px; font-size: 14px;
}
#board{
	font-size: 14px; margin-top: -20px; 
}
#board_cnt{
	position: relative;top: -80px; left: 215px;  width: 250px; height: 40px; font-size: 14px;
}
.cnt{
	border: 1px solid black;width: 120px; margin: auto; 
}
.new {
	background-color: orange; color: white; font-weight: 900px; 
}
#miniroom_back{
	position: relative; top: -50px; left: 20px; width: 446px; height: 200px;
}
#miniroom_back hr{
	margin-top: 5px;
}
#miniroom{
	background-color: rgb(241, 196, 15);width: 400px;height: 200px; text-align: center; margin-top: -10px;
}
#friends_say_back{
	position: relative; top: -10px; left: 20px; width: 80px; height: 50px;
}
#friends_say{
	border-top-left-radius: 30px; border-top-right-radius: 30px; border-bottom-right-radius: 30px; border-bottom-left-radius: 30px; text-align: center; line-height: 11px; color: rgb(255, 255, 255); font-size: 13px; box-shadow: none; background-color: rgb(26, 188, 156);
	height: 40%;
}
#iu_com{
	position: relative; top: -63px; left: 110px; width: 400px; height: 40px;
}
#iu_content{
	position: relative; top: -75px; width: 460px;
}
a{
	text-decoration: none; color: black;
}
.history{
	cursor: pointer;
}
.com_name{
	color: #2580da;
}
li{
	line-height: 22px; max-width: 190px; max-height: 23px; 
	overflow: hidden; white-space: nowrap; text-overflow: ellipsis;	
}
.photo_now{
	background-color: #3e7cf0; color: white; padding-left: 5px; padding-right: 5px;
	border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px;
}
.diary_now{
	background-color: #ea4444; color: white; padding-left: 5px; padding-right: 5px;
	border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px;
}
