@charset "UTF-8";
body {
	margin: 0;
	padding: 0;
}
#webView {
	overflow: hidden;
	position: relative;
	background: rgb(149, 165, 166); /* 메인스킨 설정 */
	width: 1200px;
	height: 678px;
	margin: 0 auto;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}
#webView[data-show-memo='true'] {
	overflow: visible
}
#scroll{
	position: relative; top: 80px; left: 886px; width: 22px; height: 550px;
}
#iu_com{/* 일촌평댓글 */
	left:23px;
}
#iu_text{
	color: rgb(94, 94, 94);
}
#iu_content{
	position: relative; top: 20px;left: 40px;  width: 497px; height: 200px;font-size: 12px;
}

#news_back{
	position: relative; top: 37px; left: 40px; width: 250px; height: 50px;
}
#news{
	font-weight: bold; font-size: 18px
}
ul{
	list-style: none; margin-top: -5px;
}

#board_back{
	position: relative; top: 30px; left: 50; width: 300px; height: 88px;
}
#board{
	font-size: 16px;
}
#board_cnt{
	position: absolute;top: 50px; left: 310px;  width: 259px; height: 60px;
}
.cnt{
	border: 1px solid black;width: 120px;
}
#miniroom_back{
	position: relative; top: 30px; left: 40px; width: 520px; height: 214px;
}
#miniroom{
	background-color: rgb(241, 196, 15);width: 100%;height: 100%;
}
#friends_say_back{
	position: relative; top: 80px; left: 50px; width: 80px; height: 50px;
}
#friends_say{
	left:20px;border-top-left-radius: 30px; border-top-right-radius: 30px; border-bottom-right-radius: 30px; border-bottom-left-radius: 30px; text-align: center; line-height: 11px; color: rgb(255, 255, 255); font-size: 13px; box-shadow: none; background-color: rgb(26, 188, 156);
	height: 40%;
}
#iu_com{
	position: relative; top: 28px; left: 150px; width: 400px; height: 40px;
}
