<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newface.mybatis.AdMapper">

	<!-- 광고주 -->
	<insert id="ader_insert" parameterType="ader">
		insert into ader values(0,#{hname},#{pname},#{snum},#{dname},#{phone},now())
	</insert>
	
	<select id="ader_list" resultType="ader" parameterType="hashmap">
		select ader_num,hname,pname,snum,dname,phone,date_format(regdate,'%Y-%m-%d') regdate from ader order by ader_num limit #{startRow},#{endRow}
	</select>
	
	<select id="ader_getinfo" resultType="ader" parameterType="int">
		select ader_num,hname,pname,snum,dname,phone,date_format(regdate,'%Y-%m-%d') regdate from ader where ader_num=#{ader_num} 
	</select>
	
	<update id="ader_update" parameterType="ader">
		update ader set hname=#{hname}, pname=#{pname}, snum=#{snum}, dname=#{dname}, phone=#{phone} where ader_num=#{ader_num}
	</update>
	
	<delete id="ader_delete" parameterType="int">
		delete from ader where ader_num=#{ader_num}
	</delete>
	
	<select id="ader_count" resultType="int">
		select coalesce(count(ader_num),0) from ader;
	</select>
	
	
	<!-- 광고 -->
	<insert id="ad_insert" parameterType="ad">
		insert into ad values(0,#{type},#{pay},#{ad_img},#{url},#{sdate},#{edate},#{ader_num})
	</insert>
	
	<select id="ad_list" resultType="ad" parameterType="hashmap">
		select * from ad where ader_num=#{ader_num} order by edate desc limit #{startRow},#{endRow}
	</select>
	
	<select id="ad_getinfo" resultType="ad" parameterType="int">
		select * from ad where ad_num=#{ad_num}
	</select>
	
	<update id="ad_update" parameterType="ad">
		update ad set type=#{type}, pay=#{pay}, ad_img=#{ad_img}, url=#{url}, sdate=#{sdate}, edate=#{edate} where ad_num=#{ad_num}
	</update>
	
	<delete id="ad_delete" parameterType="int">
		delete from ad where ad_num=#{ad_num}
	</delete>
	
	<select id="ad_count" resultType="int">
		select coalesce(count(ad_num),0) from ad where ader_num=#{ader_num}
	</select>
</mapper>  