<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newface.mybatis.MemberMapper">

	
	<insert id="insert" parameterType="member">
		insert into member values(#{id},#{pwd},#{name},#{email},#{addr},#{birth},#{school},'회원',now())
	</insert>
	
	<insert id="hompyinsert" parameterType="hompy">
		insert into hompy values(0,0,'NewFace',#{id})
	</insert>
	
	<select id="getinfo" resultType="member" parameterType="string">
		select * from member
		where id=#{value}
	</select>
	
	<select id="getadmin" resultType="admin" parameterType="string">
		select * from admin
		where id=#{value}
	</select>
	
	
	
	<select id="isMember" resultType="member" parameterType="hashmap">
		select * from member
		where id=#{loginid} and pwd=#{loginpwd} and type='회원'
	</select>
	
	<select id="isAdmin" resultType="admin" parameterType="hashmap">
		select * from admin
		where id=#{loginid} and pwd=#{loginpwd} 
	</select>
	
	
	
	<select id="mypage" resultType="member" parameterType="string">
		select id,pwd,name,email,addr,birth,school,date_format(regdate,'%Y-%m-%d') regdate from member where id=#{loginid}
	</select>
	
	<update id="update" parameterType="member">
		update member 
		set pwd=#{pwd}, name=#{name}, email=#{email}, addr=#{addr}, birth=#{birth}, school=#{school} 
		where id=#{id}     
	</update>
	
	<update id="leave" parameterType="member">
		update member set type='탈퇴' where id=#{id}
	</update>
	
	<select id="searchid" resultType="string" parameterType="hashmap">
		select id from member
		where name=#{name} and email=#{email}
	</select>
	
	<select id="serachpwd" resultType="string" parameterType="hashmap">
		select pwd from member
		where id=#{id} and email=#{email}
	</select>
	
</mapper>  