<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newface.mybatis.MineMapper">
	<insert id="insert" parameterType="mine">
		insert into mine values(0,#{totcnt},#{cnt},#{item_num},#{id})
	</insert>
	<select id="list_all" resultType="mine" parameterType="string">
		select * from mine where id=#{id}
	</select>
	<select id="getinfo" resultType="mine" parameterType="hashmap">
		select * from mine where id=#{id} and item_num=#{item_num}
	</select>
	<update id="update" parameterType="mine">
		update mine set totcnt=#{totcnt},cnt=#{cnt} where id=#{id}
	</update>
</mapper>  