<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newface.mybatis.MineMapper">
	<insert id="insert" parameterType="mine">
		insert into mine values(0,#{totcnt},#{cnt},#{item_num},#{id})
	</insert>
	<select id="list_all" resultType="mine" parameterType="string">
		select * from mine where id=#{id}
	</select>
	<select id="getinfo" resultType="mine" parameterType="hashmap">
		select * from mine where id=#{id} and item_num=#{item_num}
	</select>
	<select id="list_join" resultType="minejoin" parameterType="hashmap">
		select mine_num, totcnt, cnt, i.item_num item_num, iname, content, item_img, category_num,cname, id 
		from (select item_num,i.name iname,content,item_img,c.category_num category_num,c.name cname 
		from item i join category c 
		where i.category_num=c.category_num) i join mine m 
		where i.item_num=m.item_num and id=#{id} 
		order by category_num,iname 
		limit #{startRow},#{endRow}
	</select>
	<update id="update" parameterType="mine">
		update mine set totcnt=#{totcnt},cnt=#{cnt} where id=#{id} and item_num=#{item_num}
	</update>
	<select id="count" resultType="int" parameterType="string">
		select coalesce(count(mine_num),0) from mine where id=#{id}
	</select>
</mapper>  