<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newface.mybatis.MiniHomeMapper">
	<select id="hompy_num" parameterType="string" resultType="int">
		select hompy_num from hompy where id=#{value}
	</select>
	<select id="setup_list" parameterType="int" resultType="setup">
		select guest,photo,diary from setup where hompy_num=#{value} 
	</select>
	<select id="hompy" parameterType="string" resultType="hompy">
		select * from hompy where id=#{value}
	</select>
	<select id="profile" parameterType="int" resultType="profile">
		select * from profile where hompy_num=#{value} order by pro_num desc limit 0,1
	</select>
	<select id="profile_list" parameterType="int" resultType="profile">
		select * from profile where hompy_num=#{value} order by pro_num desc
	</select>
	<select id="now" parameterType="int" resultType="now">
		select photo_num num,title,p.photo_folder_num folder_num,hompy_num,p.regdate regdate,(select 1 from dual) division
		from photo p join photo_folder pf
		where p.photo_folder_num=pf.photo_folder_num and pf.hompy_num=#{hompy_num}
		union
		select diary_num num,title,d.diary_folder_num folder_num,hompy_num,d.regdate regdate,(select 2 from dual) division
		from diary d join diary_folder df
		where d.diary_folder_num=df.diary_folder_num and df.hompy_num=#{hompy_num}
		order by regdate desc
		limit 0,3
	</select>
	<select id="diary_count" parameterType="int" resultType="int">
		select count(d.diary_num) from diary d join diary_folder f on d.diary_folder_num=f.diary_folder_num where f.hompy_num=#{hompy_num}
	</select>
	<select id="diary_now" parameterType="int" resultType="int">
		select count(d.diary_num) from diary d join diary_folder f on d.diary_folder_num=f.diary_folder_num where f.hompy_num=#{hompy_num} and date_format(d.regdate,"%Y-%c-%d")=date_format(now(),"%Y-%c-%d")
	</select>
	<select id="photo_count" parameterType="int" resultType="int">
		select count(p.photo_num) from photo p join photo_folder f on p.photo_folder_num=f.photo_folder_num where f.hompy_num=#{hompy_num}
	</select>
	<select id="photo_now" parameterType="int" resultType="int">
		select count(p.photo_num) from photo p join photo_folder f on p.photo_folder_num=f.photo_folder_num where f.hompy_num=#{hompy_num} and date_format(p.regdate,"%Y-%c-%d")=date_format(now(),"%Y-%c-%d")
	</select>
	<select id="guest_count" parameterType="int" resultType="int">
		select count(guest_num) from guestbook where hompy_num=#{hompy_num}
	</select>
	<select id="guest_now" parameterType="int" resultType="int">
		select count(guest_num) from guestbook where hompy_num=#{hompy_num} and date_format(regdate,"%Y-%c-%d")=date_format(now(),"%Y-%c-%d")
	</select>
	<select id="profile_member" parameterType="int" resultType="member">
		select m.* from member m join hompy h on m.id=h.id where h.hompy_num=#{value}
	</select>
	<select id="id" parameterType="int" resultType="string">
		select id from hompy where hompy_num=#{value}
	</select>
	<insert id="iu_request" parameterType="iu">
		insert into iu values(0,'일촌','신청',#{i_id},#{u_id})
	</insert>
	<insert id="iu_com" parameterType="iu_com">
		insert into iu_com values(0,#{content},now(),#{hompy_num},#{id})
	</insert>
	<select id="iu_is" parameterType="iu" resultType="iu">
		select * from iu where u_name='일촌' and i_id=#{i_id} and u_id=#{u_id}
	</select>
	<select id="iu_com_list" parameterType="int" resultType="iu_com">
		select * from iu_com where hompy_num=#{value} order by iu_com_num desc
	</select>
	<select id="name" parameterType="string" resultType="string">
		select name from member where id=#{value}
	</select>
	<select id="iu_before" parameterType="iu" resultType="iu">
		select * from iu where i_id=#{i_id} and u_id=#{u_id}
	</select>
	<select id="mini_num" parameterType="int" resultType="int">
		select mini_num from miniroom where hompy_num=#{value}
	</select>
	<select id="miniroom_hompy" parameterType="int" resultType="miniroom_hompy">
		select r.*,i.category_num,i.item_img from room_posi r join mine m on r.mine_num=m.mine_num join item i on m.item_num=i.item_num where r.mini_num=#{value} and r.drag!='스킨'
	</select>
	<select id="mine_num" parameterType="int" resultType="position">
		select * from room_posi where mini_num=#{value} and drag='스킨'
	</select>
	<select id="item_num" parameterType="int" resultType="int">
		select item_num from mine where mine_num=#{value}
	</select>
	<select id="item_img" parameterType="int" resultType="string">
		select item_img from item where item_num=#{value}
	</select>
	<select id="iu_list" parameterType="string" resultType="iu_name">
		select i.*,m.name,h.hompy_num from iu i join member m on i.u_id=m.id join hompy h on m.id=h.id where i_id=#{value} and u_name='일촌';
	</select>
	<insert id="today_insert" parameterType="int">
		insert into today values(0,1,now(),#{hompy_num})
	</insert>
	<select id="today_today" parameterType="int" resultType="int">
		select ifnull(count(cnt),0) from today where hompy_num=#{value} and regdate=date_format(now(),'%Y-%c-%e')
	</select>
	<select id="today_total" parameterType="int" resultType="int">
		select ifnull(count(cnt),0) from today where hompy_num=#{value}
	</select>
	<select id="iu_history" parameterType="hashmap" resultType="iu_com">
		select * from iu_com where hompy_num=#{hompy_num} and id=#{id} order by iu_com_num desc limit #{startRow},5
	</select>
	<select id="iu_com_count" parameterType="hashmap" resultType="int">
		select ifnull(count(iu_com_num),0) from iu_com where hompy_num=#{hompy_num} and id=#{id}
	</select>
</mapper>  