<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newface.mybatis.MsgMapper">
	<insert id="msg_insert" parameterType="msg">
		insert into msg values(0,#{content},'삭제전','삭제전',now(),'취소가능','읽지않음',#{sender},#{receiver})
	</insert>
	
	<select id="msgrecv_list" resultType="msg" parameterType="String">
		select msg_num, content, send_del, recv_del, date_format(regdate,'%Y-%m-%d') regdate, send_clx, chk, sender, receiver 
		from msg 
		where receiver=#{loginid } and send_clx='취소가능' and recv_del='삭제전'
		order by regdate desc
		limit #{startRow},#{endRow}
	</select>
	
	<select id="msgrecv_count" resultType="int">
		select coalesce(count(msg_num),0) 
		from msg 
		where receiver=#{loginid} and send_clx='취소가능' and recv_del='삭제전'
	</select>
	
	
	<select id="msgsend_list" resultType="msg" parameterType="String">
		select msg_num, content, send_del, recv_del, date_format(regdate,'%Y-%m-%d') regdate, send_clx, chk, sender, receiver
		from msg
		where sender=#{loginid } and recv_del='삭제전'
		order by regdate desc
		limit #{startRow},#{endRow}
	</select>
	
	<select id="msgsend_count" resultType="int">
		select coalesce(count(msg_num),0) 
		from msg 
		where sender=#{loginid} and recv_del='삭제전'
	</select>
	
	<update id="msgrecv_delete" parameterType="int">
		update msg
		set recv_clx='삭제'
		where msg_num=#{msg_num}
	</update>
	
	<update id="msgsend_delete" parameterType="int">
		update msg
		set send_clx='삭제'
		where msg_num=#{msg_num}
	</update>
	
	<update id="msgrecv_chk" parameterType="int">
		update msg
		set chk='읽음'
		where msg_num=#{msg_num}
	</update>
	
	<select id="msgrecv_getinfo" parameterType="int" resultType="msg">
		select msg_num, content, send_del, recv_del, date_format(regdate,'%Y-%m-%d'), send_clx, chk, sender, receiver
		from msg
		where msg_num=#{msg_num}
	</select>
	
	
	
</mapper>

