<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
  	<typeAlias type="com.newface.vo.MemberVo" alias="member"/>
  	<typeAlias type="com.newface.vo.DiaryfolderVo" alias="diaryfolder"/>
  	<typeAlias type="com.newface.vo.DiaryVo" alias="diary"/>
  	<typeAlias type="com.newface.vo.DiarycomVo" alias="diarycom"/>
  	<typeAlias type="com.newface.vo.HompyVo" alias="hompy"/>
  	<typeAlias type="com.newface.vo.CalendarListVo" alias="calendarlist"/>
  	<typeAlias type="com.newface.vo.HompyVo" alias="hompy"/>
  	<typeAlias type="com.newface.vo.Diary__Diary_ComVo" alias="ddcom"/>
  	<typeAlias type="com.newface.vo.Qna11Vo" alias="qna11"/>
  	<typeAlias type="com.newface.vo.Qna11comVo" alias="qna11com"/>
  	<typeAlias type="com.newface.vo.GuestbookVo" alias="Guest"/>
  	<typeAlias type="com.newface.vo.GuestbooklistVo" alias="Guestlist"/>
  	<typeAlias type="com.newface.vo.DiaryListVo" alias="diarylist"/>
  </typeAliases>
  <mappers>
  	<mapper resource="com/newface/mybatis/MemberMapper.xml"/>
  	<mapper resource="com/newface/mybatis/MiniHomeMapper.xml"/>
  	<mapper resource="com/newface/mybatis/DiaryMapper.xml"/>
  	<mapper resource="com/newface/mybatis/Qna11Mapper.xml"/>
  	<mapper resource="com/newface/mybatis/GuestbookMapper.xml"/>
  </mappers>
</configuration>