<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
  	<typeAlias type="com.newface.vo.MemberVo" alias="member"/>
  	<typeAlias type="com.newface.vo.DiaryfolderVo" alias="diaryfolder"/>
  	<typeAlias type="com.newface.vo.DiaryVo" alias="diary"/>
  	<typeAlias type="com.newface.vo.DiarycomVo" alias="diarycom"/>
  	<typeAlias type="com.newface.vo.HompyVo" alias="hompy"/>
  	<typeAlias type="com.newface.vo.CalendarListVo" alias="calendarlist"/>
  	<typeAlias type="com.newface.vo.HompyVo" alias="hompy"/>
  	<typeAlias type="com.newface.vo.Diary__Diary_ComVo" alias="ddcom"/>
  	<typeAlias type="com.newface.vo.Qna11Vo" alias="qna11"/>
  	<typeAlias type="com.newface.vo.Qna11comVo" alias="qna11com"/>
  	<typeAlias type="com.newface.vo.GuestbookVo" alias="Guest"/>
  	<typeAlias type="com.newface.vo.GuestbooklistVo" alias="Guestlist"/>
  	<typeAlias type="com.newface.vo.DiaryListVo" alias="diarylist"/>
  	<typeAlias type="com.newface.vo.AdminVo" alias="admin"/>
  	<typeAlias type="com.newface.vo.GuestcomlistVo" alias="Guestcom"/>
  	<typeAlias type="com.newface.vo.NotiVo" alias="noti"/>
  	<typeAlias type="com.newface.vo.ItemVo" alias="item"/>
  	<typeAlias type="com.newface.vo.CategoryVo" alias="category"/>
  	<typeAlias type="com.newface.vo.NoticomVo" alias="noticom"/>
  	<typeAlias type="com.newface.vo.PhotofolderVo" alias="photo_f"/>
  	<typeAlias type="com.newface.vo.PhotoVo" alias="photo"/>
  	<typeAlias type="com.newface.vo.PhotolistVo" alias="photo_list"/>
  	<typeAlias type="com.newface.vo.SetupVo" alias="setup"/>
  	<typeAlias type="com.newface.vo.ProfileVo" alias="profile"/>
  	<typeAlias type="com.newface.vo.CashVo" alias="cash"/>
  	<typeAlias type="com.newface.vo.AdVo" alias="ad"/>
  	<typeAlias type="com.newface.vo.AderVo" alias="ader"/>
  	<typeAlias type="com.newface.vo.NowVo" alias="now"/>
  	<typeAlias type="com.newface.vo.BuyVo" alias="buy"/>
  	<typeAlias type="com.newface.vo.MineVo" alias="mine"/>
  	<typeAlias type="com.newface.vo.Buy_Join_ItemVo" alias="buyjoin"/>
  	<typeAlias type="com.newface.vo.Mine_Join_itemVo" alias="minejoin"/>
  	<typeAlias type="com.newface.vo.IuVo" alias="iu"/>
  	<typeAlias type="com.newface.vo.IucomVo" alias="iu_com"/>
  	<typeAlias type="com.newface.vo.Miniroom_listVo" alias="miniroom_list"/>
  	<typeAlias type="com.newface.vo.RoomposiVo" alias="position"/>
  	<typeAlias type="com.newface.vo.PhotocomVo" alias="photo_com"/>
  	<typeAlias type="com.newface.vo.Miniroom_HompyVo" alias="miniroom_hompy"/>
  	<typeAlias type="com.newface.vo.Item_MineVo" alias="item_mine"/>
  	<typeAlias type="com.newface.vo.HompyVo" alias="hompy"/>
  	<typeAlias type="com.newface.vo.Iu_NameVo" alias="iu_name"/>
  	<typeAlias type="com.newface.vo.TodayVo" alias="today"/> 
  	<typeAlias type="com.newface.vo.MsgVo" alias="msg"/> 
  	<typeAlias type="com.newface.vo.TimelineVo" alias="timeline"/> 
  </typeAliases>
  
  <mappers>
 	<mapper resource="com/newface/mybatis/BuyMapper.xml"/>
 	<mapper resource="com/newface/mybatis/MineMapper.xml"/>
 	<mapper resource="com/newface/mybatis/CashMapper.xml"/>
  	<mapper resource="com/newface/mybatis/MemberMapper.xml"/>
  	<mapper resource="com/newface/mybatis/MiniHomeMapper.xml"/>
  	<mapper resource="com/newface/mybatis/DiaryMapper.xml"/>
  	<mapper resource="com/newface/mybatis/SetupMapper.xml"/>
  	<mapper resource="com/newface/mybatis/Qna11Mapper.xml"/>
  	<mapper resource="com/newface/mybatis/GuestbookMapper.xml"/>
  	<mapper resource="com/newface/mybatis/NotiMapper.xml"/>
  	<mapper resource="com/newface/mybatis/MarketMapper.xml"/>
  	<mapper resource="com/newface/mybatis/PhotoMapper.xml"/>
  	<mapper resource="com/newface/mybatis/AdMapper.xml"/>
  	<mapper resource="com/newface/mybatis/TimelineMapper.xml"/>
  	<mapper resource="com/newface/mybatis/MsgMapper.xml"/>
  </mappers>
</configuration>