<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
  	<typeAlias type="com.newface.vo.MemberVo" alias="member"/>
  	<typeAlias type="com.newface.vo.DiaryfolderVo" alias="diaryfolder"/>
  	<typeAlias type="com.newface.vo.DiaryVo" alias="diary"/>
  	<typeAlias type="com.newface.vo.DiarycomVo" alias="diarycom"/>
  	<typeAlias type="com.newface.vo.HompyVo" alias="hompy"/>
  	<typeAlias type="com.newface.vo.CalendarListVo" alias="calendarlist"/>
  	<typeAlias type="com.newface.vo.HompyVo" alias="hompy"/>
  	<typeAlias type="com.newface.vo.Diary__Diary_ComVo" alias="ddcom"/>
  	<typeAlias type="com.newface.vo.Qna11Vo" alias="qna11"/>
  	<typeAlias type="com.newface.vo.Qna11comVo" alias="qna11com"/>
  	<typeAlias type="com.newface.vo.GuestbookVo" alias="Guest"/>
  	<typeAlias type="com.newface.vo.GuestbooklistVo" alias="Guestlist"/>
  	<typeAlias type="com.newface.vo.DiaryListVo" alias="diarylist"/>
  	<typeAlias type="com.newface.vo.AdminVo" alias="admin"/>
  	<typeAlias type="com.newface.vo.GuestcomlistVo" alias="Guestcom"/>
  	<typeAlias type="com.newface.vo.NotiVo" alias="noti"/>
  	<typeAlias type="com.newface.vo.ItemVo" alias="item"/>
  	<typeAlias type="com.newface.vo.CategoryVo" alias="category"/>
  	<typeAlias type="com.newface.vo.NoticomVo" alias="noticom"/>
  	<typeAlias type="com.newface.vo.PhotofolderVo" alias="photo_f"/>
  	<typeAlias type="com.newface.vo.PhotoVo" alias="photo"/>
  	<typeAlias type="com.newface.vo.PhotolistVo" alias="photo_list"/>
  	<typeAlias type="com.newface.vo.SetupVo" alias="setup"/>
  	<typeAlias type="com.newface.vo.ProfileVo" alias="profile"/>
  </typeAliases>
  <mappers>
  	<mapper resource="com/newface/mybatis/MemberMapper.xml"/>
  	<mapper resource="com/newface/mybatis/MiniHomeMapper.xml"/>
  	<mapper resource="com/newface/mybatis/DiaryMapper.xml"/>
  	<mapper resource="com/newface/mybatis/SetupMapper.xml"/>
  	<mapper resource="com/newface/mybatis/Qna11Mapper.xml"/>
  	<mapper resource="com/newface/mybatis/GuestbookMapper.xml"/>
  	<mapper resource="com/newface/mybatis/NotiMapper.xml"/>
  	<mapper resource="com/newface/mybatis/MarketMapper.xml"/>
  	<mapper resource="com/newface/mybatis/PhotoMapper.xml"/>
  </mappers>
</configuration>