<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newface.mybatis.NotiMapper">
	<insert id="insert" parameterType="noti">
		insert into noti values(0,#{title},#{content},now(),#{id})
	</insert>
	
	<select id="notilist" resultType="noti">
		select noti_num,title,content,date_format(regdate,'%Y-%m-%d') regdate,id from noti
	</select>
</mapper>  