<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newface.mybatis.NotiMapper">
	<insert id="insert" parameterType="noti">
		insert into noti values(0,#{title},#{content},now(),#{id})
	</insert>
	
	<select id="notilist" resultType="noti">
		select noti_num,title,content,date_format(regdate,'%Y-%m-%d') regdate,id from noti order by noti_num desc;
	</select>
	
	<select id="notigetinfo" resultType="noti" parameterType="int">
		select noti_num,title,content,date_format(regdate,'%Y-%m-%d') regdate,id from noti where noti_num=#{noti_num} 
	</select>
	
	<update id="notiupdate" parameterType="noti">
		update noti set title=#{title}, content=#{content} where noti_num=#{noti_num}	
	</update>
	
	<delete id="notidelete" parameterType="int">
		delete from noti where noti_num=#{noti_num}
	</delete>
	
	<select id="noti_side" resultType="noti">
		select * from noti order by noti_num desc limit 1,5
	</select>
</mapper>  