<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newface.mybatis.SetupMapper">
	<select id="setup_list" parameterType="int" resultType="setup">
		select guest,photo,diary,jukebox from setup where hompy_num=#{value}	
	</select>
	<update id="menu_update" parameterType="setup">
		update setup set diary=#{diary},photo=#{photo},guest=#{guest},jukebox=#{jukebox} where hompy_num=#{hompy_num}
	</update>
	<update id="hname" parameterType="hompy">
		update hompy set hname=#{hname} where hompy_num=#{hompy_num}
	</update>
	<select id="hname_select" parameterType="string" resultType="string">
		select hname from hompy where id=#{value}
	</select>
	<select id="profile" parameterType="int" resultType="profile">
		select * from profile where hompy_num=#{value} order by pro_num desc limit 0,1
	</select>
	<insert id="profile_insert">
		insert into profile values(0,#{todayis},#{content},now(),#{org_name},#{save_name},#{hompy_num})
	</insert>
	<select id="iu_request_list" parameterType="string" resultType="iu">
		select * from iu where i_id=#{value} and u_name='신청'
	</select>
	<insert id="iu_insert" parameterType="iu">
		insert into iu values(0,'일촌','일촌',#{u_id},#{i_id})
	</insert>
	<update id="iuOk" parameterType="iu">
		update iu set u_name='일촌' where i_id=#{i_id} and u_id=#{u_id}
	</update>
	<select id="miniroom_wallpaper" parameterType="miniroom_list" resultType="miniroom_list">
		select m.*,i.name,i.item_img from mine m join item i on m.item_num=i.item_num where id=#{id} and i.category_num=#{category_num}
	</select>
	<select id="item_img" parameterType="int" resultType="string">
		select item_img from item where item_num=#{value}
	</select>
	<select id="mini_num" parameterType="int" resultType="int">
		select mini_num from miniroom where hompy_num=#{value}
	</select>
	<select id="mine_num" parameterType="mine" resultType="int">
		select mine_num from mine where id=#{id} and item_num=#{item_num}
	</select>
	<insert id="position_insert" parameterType="position">
		insert into room_posi values(0,#{mini_num},'없음',0.0,0.0,#{mine_num})
	</insert>
	<select id="mine_num_is" parameterType="position" resultType="position">
		select * from room_posi where mine_num=#{mine_num} and mini_num=#{mini_num}
	</select>
	<select id="miniroom_hompy" parameterType="int" resultType="miniroom_hompy">
		select r.*,i.category_num,i.item_img from room_posi r join mine m on r.mine_num=m.mine_num join item i on m.item_num=i.item_num where r.mini_num=#{value} and r.drag!='스킨' and r.drag!='미니룸'
	</select>
	<select id="miniroom_decorate" parameterType="string" resultType="item_mine">
		select i.*,m.mine_num from mine m join item i on m.item_num=i.item_num where id=#{id} and i.category_num=3 or id=#{id} and i.category_num=4;
	</select>
	<select id="skin_list" parameterType="string" resultType="item_mine">
		select i.*,m.mine_num from mine m join item i on m.item_num=i.item_num where m.id=#{value} and i.category_num=1
	</select>
	<insert id="skin_insert" parameterType="position">
		insert into room_posi values(0,#{mini_num},'스킨',0,0,#{mine_num})
	</insert>
	<delete id="skin_delete" parameterType="int">
		delete from room_posi where drag='스킨' and mini_num=#{value}
	</delete>
	<select id="item_num" parameterType="int" resultType="int">
		select item_num from mine where mine_num=#{value}
	</select>
	<select id="skin_mine_num" parameterType="int" resultType="position">
		select * from room_posi where mini_num=#{value} and drag='스킨'
	</select>
	<select id="hompy" parameterType="string" resultType="hompy">
		select * from hompy where id=#{value}
	</select>
	<select id="minime_list" parameterType="string" resultType="item">
		select i.* from mine m join item i on m.item_num=i.item_num where m.id=#{value} and i.category_num=6
	</select>
	<select id="minime_mine_num" parameterType="hashmap" resultType="int">
		select m.mine_num from mine m join item i on m.item_num=i.item_num where i.item_num=#{item_num} and m.id=#{id}
	</select>
	<select id="hompy_num" parameterType="string" resultType="int">
		select hompy_num from hompy where id=#{value}
	</select>
	<insert id="minime_insert" parameterType="hashmap">
		insert into room_posi values(0,#{mini_num},'미니미',0,0,#{mine_num})
	</insert>
	<select id="minime_img" parameterType="int" resultType="string">
		select i.item_img from 
		item i join mine m on i.item_num=m.item_num 
		join room_posi r on m.mine_num=r.mine_num 
		where r.drag='미니미'  and r.mini_num=#{value}
	</select>
	<select id="minime_is" parameterType="int" resultType="position">
		select * from room_posi where mini_num=#{value} and drag='미니미'
	</select>
	<delete id="minime_delete" parameterType="int">
		delete from room_posi where mini_num=#{value} and drag='미니미'
	</delete>
	<select id="item_info" parameterType="int" resultType="item">
		select * from item where item_num=#{value}
	</select>
	<select id="skin_info" parameterType="string" resultType="mine">
		select m.* from room_posi r join mine m on r.mine_num=m.mine_num where r.drag='스킨' and m.id=#{value}
	</select>
	<select id="minime_info" parameterType="string" resultType="mine">
		select m.* from room_posi r join mine m on r.mine_num=m.mine_num where r.drag='미니미' and m.id=#{value}
	</select>
	<select id="bgm_list" parameterType="string" resultType="item_mine">
		select i.*,m.mine_num from item i join mine m on i.item_num=m.item_num where category_num=7 and m.id=#{value}
	</select>
	<insert id="bgm_insert" parameterType="position">
		insert into room_posi values(0,#{mini_num},'BGM',0,0,#{mine_num})
	</insert>
	<delete id="bgm_delete" parameterType="int">
		delete from room_posi where drag='BGM' and mini_num=#{value}
	</delete>
	<select id="bgm_start" parameterType="int" resultType="item">
		select i.* from room_posi r join mine m on r.mine_num=m.mine_num join item i on i.item_num=m.item_num where r.drag='BGM' and r.mini_num=#{value};
	</select>
	<delete id="basic_skin" parameterType="int">
		delete from room_posi where mini_num=#{value} and drag='스킨'
	</delete>
	<insert id="miniroom_insert" parameterType="position">
		insert into room_posi values(0,#{mini_num},'미니룸',#{x},#{y},#{mine_num})
	</insert>
	<delete id="miniroom_delete" parameterType="int">
		delete from room_posi where mini_num=#{mini_num} and drag='미니룸'
	</delete>
</mapper>  