<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newface.mybatis.SetupMapper">
	<select id="setup_list" parameterType="int" resultType="setup">
		select guest,photo,diary from setup where hompy_num=#{value}	
	</select>
	<update id="menu_update" parameterType="setup">
		update setup set diary=#{diary},photo=#{photo},guest=#{guest} where hompy_num=#{hompy_num}
	</update>
	<update id="hname" parameterType="hompy">
		update hompy set hname=#{hname} where hompy_num=#{hompy_num}
	</update>
	<select id="profile" parameterType="int" resultType="profile">
		select * from profile where hompy_num=#{value}
	</select>
	<update id="profile_photo">
		update profile set regdate=now(),org_name=#{org_name},save_name=#{save_name} where hompy_num=#{hompy_num}
	</update>
	<update id="profile_content">
		update profile set regdate=now(),content=#{content} where hompy_num=#{hompy_num}
	</update>
	<update id="profile_todayis">
		update profile set regdate=now(),todayis=#{todayis} where hompy_num=#{hompy_num}
	</update>
</mapper>  