<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newface.mybatis.SetupMapper">
	<select id="setup_list" parameterType="int" resultType="setup">
		select guest,photo,diary from setup where hompy_num=#{value}	
	</select>
	<update id="menu_update" parameterType="setup">
		update setup set diary=#{diary},photo=#{photo},guest=#{guest} where hompy_num=#{hompy_num}
	</update>
	<update id="hname" parameterType="hompy">
		update hompy set hname=#{hname} where hompy_num=#{hompy_num}
	</update>
	<select id="profile" parameterType="int" resultType="profile">
		select * from profile where hompy_num=#{value}
	</select>
	<update id="profile_photo">
		update profile set regdate=now(),org_name=#{org_name},save_name=#{save_name} where hompy_num=#{hompy_num}
	</update>
	<update id="profile_content">
		update profile set regdate=now(),content=#{content} where hompy_num=#{hompy_num}
	</update>
	<update id="profile_todayis">
		update profile set regdate=now(),todayis=#{todayis} where hompy_num=#{hompy_num}
	</update>
	<select id="iu_request_list" parameterType="string" resultType="iu">
		select * from iu where i_id=#{value} and u_name='신청'
	</select>
	<update id="iuOk" parameterType="iu">
		update iu set u_name='일촌' where i_id=#{i_id} and u_id=#{u_id}
	</update>
	<select id="miniroom_wallpaper" parameterType="miniroom_list" resultType="miniroom_list">
		select m.*,i.name,i.item_img from mine m join item i on m.item_num=i.item_num where id=#{id} and i.category_num=#{category_num}
	</select>
	<select id="item_img" parameterType="int" resultType="string">
		select item_img from item where item_num=#{value}
	</select>
	<select id="mini_num" parameterType="int" resultType="int">
		select mini_num from miniroom where hompy_num=#{value}
	</select>
	<select id="mine_num" parameterType="mine" resultType="int">
		select mine_num from mine where id=#{id} and item_num=#{item_num}
	</select>
	<insert id="position_insert" parameterType="position">
		insert into room_posi values(0,#{mini_num},'없음',0.0,0.0,#{mine_num})
	</insert>
	<select id="mine_num_is" parameterType="position" resultType="position">
		select * from room_posi where mine_num=#{mine_num} and mini_num=#{mini_num}
	</select>
	<select id="miniroom_hompy" parameterType="int" resultType="miniroom_hompy">
		select r.*,i.category_num,i.item_img from room_posi r join mine m on r.mine_num=m.mine_num join item i on m.item_num=i.item_num where r.mini_num=#{value} and r.drag!='스킨'
	</select>
	<select id="miniroom_decorate" parameterType="string" resultType="item">
		select i.* from mine m join item i on m.item_num=i.item_num where id=#{id} and i.category_num=3
	</select>
	<select id="skin_list" parameterType="string" resultType="item_mine">
		select i.*,m.mine_num from mine m join item i on m.item_num=i.item_num where m.id=#{value} and i.category_num=5
	</select>
	<insert id="skin_insert" parameterType="position">
		insert into room_posi values(0,#{mini_num},'스킨',0,0,#{mine_num})
	</insert>
	<delete id="skin_delete" parameterType="int">
		delete from room_posi where drag='스킨' and mini_num=#{value}
	</delete>
	<select id="item_num" parameterType="int" resultType="int">
		select item_num from mine where mine_num=#{value}
	</select>
	<select id="skin_mine_num" parameterType="int" resultType="position">
		select * from room_posi where mini_num=#{value} and drag='스킨'
	</select>
</mapper>  