<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newface.mybatis.TimelineMapper">
	<select id="list" resultType="timeline" parameterType="hashmap">
		select num,title,content,love,singo,DATE_FORMAT(regdate, "%Y년 %m월 %d일 %H:%i") regdate,id,name,save_name from 
		(select p.photo_num num,p.title title,p.content content,p.love love,p.singo singo,p.regdate regdate,h.id id,m.name name,pro.save_name save_name
		from member m
		join hompy h
		on h.id=m.id
		join (select * from (
		select hompy_num,save_name 
		from profile
		order by hompy_num, regdate desc
		) a
		group by a.hompy_num) pro
		on h.hompy_num=pro.hompy_num
		join photo_folder pf
		on pf.hompy_num = h.hompy_num
		join photo p
		on pf.photo_folder_num = p.photo_folder_num
		where p.secret='전체공개'
		union
		select d.diary_num num,d.title title,d.content content,d.love love,d.singo singo,d.regdate regdate,h.id id,m.name name,pro.save_name save_name
		from member m
		join hompy h
		on h.id=m.id
		join (select * from (
		select hompy_num,save_name 
		from profile
		order by hompy_num, regdate desc
		) a
		group by a.hompy_num) pro
		on h.hompy_num=pro.hompy_num
		join diary_folder df
		on df.hompy_num = h.hompy_num
		join diary d
		on df.diary_folder_num = d.diary_folder_num
		where d.type='전체공개') a
		
		order by a.regdate desc 
		limit #{startrow},#{endrow}
	</select>
	<select id="pro_img" resultType="string" parameterType="string">
		SELECT pro.save_name save_name
		FROM hompy h JOIN profile pro
		ON h.hompy_num=pro.hompy_num
		WHERE id=#{value} 
		order by regdate desc limit 0,1
	</select>
</mapper>  