@charset "UTF-8";
#setup_miniroom_back{
	padding: 30px;
}    
.miniroom_back{
	 padding-bottom: 10px; background-color: #f3f3f3; padding-top: 0px;
}
#title{
	 padding-bottom: 5px; 
}
#menu{
	margin-top: 10px; margin-bottom: 10px; border: 1px dashed #c6c6c6;
}
#miniroom{
	width: 400px;height: 200px; background-color: orange; 
}
.item{
	display:inline; margin: 0px; padding: 0px; z-index: 0; position: relative; 
}
.add1{
	display:inline; margin: 0px; padding: 0px; z-index: 99; top: 94px; left: 30px; position: relative; 
}
#back_img{
	border: 1px solid gray;
}


