@charset "UTF-8";
*{
	margin: 0px;padding: 0px;
}
a{
	text-decoration: none; color: black;
}
#setup_profile_back{
	padding: 30px;
}    
.profile_back{
	padding-top: 10px; padding-bottom: 10px; background-color: #f3f3f3;
}
h3{
	padding-top: 30px; padding-bottom: 5px;
}
input[type=text]{
	height: 17px; width: 200px;
}
input[type=submit]{
	height: 23px;
}
#menu{
	margin-top: 10px; margin-bottom: 10px; border: 1px dashed #c6c6c6;
}
#first{
	padding-top: 0px;
}




/* content */
#addBtn {
	width: 80px;
	height:35px;
	font-size: 15px;
	padding: 8px;
	background-color: blue;
	color: white;
	border-radius: 5px 5px 5px 5px;
	margin-top:-10px;
	margin-left: 150px;
}

