.pagination {
	text-align: center;
}

.btnprev {
	position: absolute;
	top: 30px;
	left: 100px;
	font-size: 13px;
	font-weight: bold;
	display: inline-block;
	padding: 0px;
	width: 25px;
	height: 25px;
}

.btnnext {
	position: absolute;
	top: 30px;
	right: 100px;
	font-size: 13px;
	font-weight: bold;
	display: inline-block;
	padding: 0px;
	width: 25px;
	height: 25px;
}

.btnprev-a {
	position: absolute;
	top: 30px;
	left: 100px;
	font-size: 13px;
	font-weight: bold;
	display: inline-block;
	padding: 0px;
	width: 25px;
	height: 25px;
	color: rgb(153, 149, 149);
}

.btnnext-a {
	position: absolute;
	top: 30px;
	right: 100px;
	font-size: 13px;
	font-weight: bold;
	display: inline-block;
	padding: 0px;
	width: 25px;
	height: 25px;
	color: rgb(153, 149, 149);
}

.pagination__dot {
	position: relative;
	width: 15px;
	height: 15px;
	border: 2px solid rgb(52, 152, 219);
	border-radius: 100px;
	display: inline-block;
	margin: 12px 7px;
	-webkit-transition: .3s;
	transition: .3s;
}

.pagination__dot--active {
	background: rgb(52, 152, 219);
}

.pagination__dot:hover {
	-webkit-transition: .3s;
	transition: .3s;
	background: rgb(52, 152, 219);
}

.pagination__dot:hover:before {
	top: -32px;
	opacity: 1;
}

.pagination__dot:hover:after {
	top: -10px;
	opacity: 1;
}

.pagination__dot:before {
	position: absolute;
	top: -30px;
	left: -15px;
	background: white;
	width: 40px;
	font-family: "Montserrat";
	font-size: 14px;
	border-radius: 3px;
	border: 1px solid rgb(52, 152, 219);
	content: attr(data-tooltip);
	opacity: 0;
	-webkit-transition: .3s;
	transition: .3s;
	color: rgb(52, 152, 219);
	font-weight: bold;
}

.pagination__dot:after {
	position: absolute;
	width: 0;
	height: 0;
	top: -5px;
	left: 0px;
	border-top: 6px solid rgb(52, 152, 219);
	border-right: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid transparent;
	content: "";
	opacity: 0;
	-webkit-transition: .3s;
	transition: .3s;
	text-decoration: none;
}

a:focus, a:hover {
    text-decoration: none;
}