@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}

#wrap {
	width: 100%;
}

#header {
	width: 100%;
	height: 70px;
}

#main2 {
	width: 1100px;
	margin: auto;
	margin-top: 20px;
}

#sidebar {
	width: 200px;
	height: 800px;
	float: left;
}

#con_wrap {
	width: 800px;
	height: 800px;
	float: left;
	box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 8px 0px;
	background-color: rgb(224, 224, 224);
	/* width: 100%; */
}

#sidebar ul {
	list-style:none;
	width: 100%;
}
#sidebar ul li a:hover{
	background-color:rgb(52, 152, 219);
	color:white;
}
#sidebar ul a{
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	background-color:rgb(224, 224, 224);
	padding: 8px 70px 8px 70px;
	text-decoration: none;
	font-size: 15px;
	color: black;
	display: block;
	margin-top: 7px;
	box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 8px 0px;
}
#sidebar .now{
	background-color:rgb(52, 152, 219);
	color:white;
}


#con_wrap #tab {
	width: 90%;
}
#con_wrap #tab ul {
	margin-left: 30px;
	list-style:none;
	width: 90%;
	display: inline-block;
	margin-bottom: 0px;
}

#con_wrap #tab ul li a:hover{
	background-color:rgb(52, 152, 219);
	color:white;
}

#con_wrap #tab .hover_a{
	background-color:rgb(52, 152, 219);
	color:white;
}

#con_wrap #tab ul a{
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	background-color:rgb(250, 250, 250);
	margin-left:7px;
	float : left;
	padding: 10px;
	text-decoration: none;
	font-size: 16px;
	color: black;
	display: block;
}

#con_wrap #con {
	top:181px;
	position:absolute;
	margin-left: 30px;
	border-radius: 2px;
	box-shadow: rgba(0, 0, 0, 0.227451) 3px 3px 8px 0px;
	background-color: rgb(250, 250, 250);
	width:740px;
	height: 670px;
}
