@CHARSET "UTF-8";
html[lang^="ko"] {
	font-family: "Nanum Gothic", "나눔 고딕", "NanumGothic", sans-serif;
}
table {
	border-collapse: collapse;
	border-spacing: 0px;
	margin-top: 20px;
	width: 90%;
	height: 80%;
}
td {
	border: 1px solid #e0e0e0;
	border-collapse: collapse;
	border-spacing: 0px;
	padding: 5px;
	line-height: 1.5;
}
input{
	width: 500px;
	margin-left: 5px;
}
select{
	margin-left: 5px;
}
body{
	overflow-y:hidden; 
}