@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}

#wrap {
	width: 100%;
}

#header {
	width: 100%;
	height: 90px;
}

#main3 {
	width: 1100px;
	margin: auto;
}

#sidebar2 {
	width: 250px;
	height: 950px;
	position: fixed;
}

#content2 {
	background-color: rgba(224, 224, 224, 0.78);
	height: 800px;
	width: 570px;
	margin-left: 270px;
	position: absolute;
	display: inline-block;
}

#content2 #tab {
	width: 90%;
}
#content2 #tab ul {
	margin-left: 30px;
	list-style:none;
	width: 90%;
	display: inline-block;
	margin-bottom: 0px;
}

#content2 #tab ul li a:hover{
	background-color:rgb(52, 152, 219);
	color:white;
}
#content2 #tab .hover_a{
	background-color:rgb(52, 152, 219);
	color:white;
}
#content2 #tab ul a{
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	background-color:rgb(250, 250, 250);
	margin-left:4px;
	float : left;
	padding: 7px;
	text-decoration: none;
	font-size: 15px;
	color: black;
	display: block;
}

#content2 #con {
	position:absolute;
	top: 84px;
	margin-left: 30px;
	border-radius: 2px;
	box-shadow: rgba(0, 0, 0, 0.227451) 3px 3px 8px 0px;
	background-color: rgb(250, 250, 250);
	width: 90%;
	height: 86%;
}

#ad2 {
	width: 220px;
	height: 950px;
	margin-left: 910px;
	position: fixed;
}